@model DesktopApplication.Models.CorporationModel


@{
    ViewData["Title"] = "Corporation Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Corporation Details</h1>
<div class="d-flex justify-content-between">
    <a asp-action="Index">Back to Corporation List</a>
    <a asp-action="Edit" asp-route-id="@Model?.CorporationId">Edit Corporation</a> 
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<div>
    <h4>Corporation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>





