@model DesktopApplication.Models.BranchModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutCorporation.cshtml";
}

<h1>Edit</h1>
<div class="d-flex justify-content-between">
    <a asp-action="Index">Back to Branch List</a>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<h4>Branch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="BranchId" />

            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CorporationId" class="control-label"></label>
                <select asp-for="CorporationId" class="form-control" asp-items="ViewBag.CorporationId"></select>
                <span asp-validation-for="CorporationId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="BranchCreatedDate" value="@Model.CreatedOn" />

            <input type="hidden" asp-for="IsSync" value="@Model.IsSync" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


