@{
    ViewData["Title"] = "Home Page";
}

<style>
    .main {
        background-image: url('assets\homecorporate.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

