@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="d-flex justify-content-between">
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
<p>Use this page to detail your site's privacy policy.</p>
